.container{
  display: block;
  align-items: center;
}

.report-container {
  display: flex;
  height: 80px;
  justify-content: center;
  align-items: center;
  /* border: 2px solid black; */
  gap: 40px;
  /* margin-top: 1%; */
  font-weight: bold;
}
.report-elements{
    flex-basis: 15%;
    height: 80%;
    text-align: center;
    border-radius: 5px;
    background-color: var(--componentsColor);
    padding: 5px 5px;
}
.report-elements p {
  margin: 0;
}
